.navbar-expand-sm{
	font-family: 'Poppins', sans-serif;
}
.fa{
	font-size: 26px
}
 
.shadow {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
 #grad1 {
  height: 1px;
  width: 100%;  
  background-image: radial-gradient(rgba(0,255,0,1), rgba(0,255,0,1),  white, white, white); /* Standard syntax (must be last) */
}
.line{
height: 1px;
  width: 100%; 
  background-image: radial-gradient(rgba(0,255,0,1), rgba(0,255,0, .8), rgba(0,255,0, .6), white, white, white);
}
.topnav {
  position: relative;
  overflow: hidden; 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}
.topnav-right ul li a:hover {
  background-color: #fff;
  color: black;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

div .card .card-img-top{
	width: 100%; 
	border: none;
}
.card{
	border: none
}
.hv:hover .line{
	background-image: radial-gradient(rgba(0,255,0,1), rgba(0,255,0, .8), rgba(0,255,0, .6), rgba(0,255,0, .8), rgba(0,255,0, .6), white, white );
	transition: ease 5s; 
}

.hv:hover {
	 box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
